---
title: Approach
description: ""
class: styleguide
parent: styleguide
layout: interstitial.hbs
category: Approach
section:
subsection:
zoom:
---

</div>
</section>
<!-- ./End Content Wrapper -->

<div class="banded-brand">

  <section class="twc-container">
    <div class="parsys">

          <h1>TBD QUOTE</h1>

          <hr>

          <div class="67-33 section columnControl">
            <div class="parsys_column twc-col2_6733">

              <div class="parsys parsys0 twc-col2_6733-c0 parsys_column">
                <div class="parbase section">

                  <p class="lede">Building an effective online presence for Time Warner Cable Business Class takes many skills. The Digital Web Marketing Team provides web standards and editorial guidelines to help provide guidance for the architecture, design, and content of digital assets that are part of <a href="https://business.timewarnercable.com/">business.twc.com</a>.</p>

                  <p>This information is provided to content creators, agencies, and internal stakeholders to assist in developing consistent and excellent digital content experiences for visitors to all TWCBC websites, landing pages, and social media environments.</p>

                  <p>The Digital Web Marketing Team produced and maintains this Guide. We recognize that this is a work in progress, and we will keep an open mind about the introduction of new content/design parameters. What works now will certainly change over time as a result of new technology, company positioning, digital experience best practices, and common sense.</p>

                </div>
                <div class="new section"></div>
              </div>

              <div class="parsys parsys1 twc-col2_6733-c1 parsys_column">
                <div class="smartLink parbase section">
                  <figure>
                    <img src="{{ site.url }}/images/TWC_logo-placeholder.png" alt="TWC_logo-placeholder">
                  </figure>
                </div>
                <div class="new section"></div>
              </div>

            </div>
            <div class="columnClear"></div>
          </div>

    </div>
  </section>

</div>

<div class="banded-dark">

  <section class="twc-container">
    <div class="parsys">

      <h2>Principles</h2>
      <p>Content and design on the website should adhere to these principles:</p>

      <div class="33-33-33 section columnControl">
        <div class="parsys_column twc-col3_333333">

          <div class="parsys parsys0 twc-col3_333333-c0 parsys_column">
            <div class="smartLink parbase section">

              <figure>
                <img src="{{ site.url }}/images/TWC_logo-placeholder.png" alt="TWC_logo-placeholder">
              </figure>

              <div class="equal">
                <h3>Defer to Content</h3>
                <p>Give the content center stage in the layout. Design for experiences that are unobtrusive and authentically thoughtful, in order to respect what a visitor needs</p>
              </div>

              <hr>

              <div class="equal">
                <h3>Make the Useful Beautiful</h3>
                <p>Utility satisfies needs, but beauty drives desire. Design for experiences that people love to have. Create aesthetically pleasing offerings that carry a consistent meaning in their form and function.</p>
              </div>

            </div>
            <div class="new section"></div>
          </div>

          <div class="parsys parsys1 twc-col3_333333-c1 parsys_column">
            <div class="smartLink parbase section">

              <figure>
                <img src="{{ site.url }}/images/TWC_logo-placeholder.png" alt="TWC_logo-placeholder">
              </figure>

              <div class="equal">
                <h3>Design for Flexibility</h3>
                <p>Patterns and designs are made to be easily adaptable. These guidelines encourage consistency over uniformity -- providing a sense of familiarity and ease with the brand, while still allowing for customization of each content asset.</p>
              </div>

              <hr>

              <div class="equal">
                <h3>Inform and Delight</h3>
                <p>Our visitors are smart. Engage them in moments of inspiration and curiosity. Design for enlightening experiences that encourage critical thinking.</p>
              </div>

            </div>
            <div class="new section"></div>
          </div>

          <div class="parsys parsys2 twc-col3_333333-c2 parsys_column">
            <div class="smartLink parbase section">

              <figure>
                <img src="{{ site.url }}/images/TWC_logo-placeholder.png" alt="TWC_logo-placeholder">
              </figure>

              <div class="equal">
                <h3>Be Contextually Aware</h3>
                <p>Be mindful of what users need by providing them the right tools at the right time. Design content for the most desirable outcomes while keeping changing context in mind.</p>
              </div>

            </div>
            <div class="new section"></div>
          </div>

        </div>
        <div class="columnClear"></div>
      </div>

    </div>
  </section>

</div>


<div class="banded-light">

  <section class="twc-container">
    <div class="parsys">

      <h2>Brand Promise</h2>

      <hr>

      <p><strong>“Time Warner Cable Business Class enables companies to launch their business’s possibilities.”</strong></p>

      <p>This is our Brand Promise. We achieve this through our highly skilled people and reliable technology that is designed to help our customers operate more effectively, efficiently and ultimately be more successful in their business.</p>

      <p>Yes, we are a technology company, but there is a human being behind everything we do. Behind every truck roll, every advertisement, every phone call and website interaction, there is a human. We aren’t businesses talking to businesses; we are humans seeking to connect with humans.</p>

    </div>
  </section>

</div>

<div class="banded-dark">

  <section class="twc-container">
    <div class="parsys">

      <h2>Brand Experience</h2>

      <hr>

      <p>Much more than a company's logo or color palette, Brand is the collection of experiences in the heart and mind of the customer. Each encounter a visitor has with our company is a brand experience. Our brand reflects who we are today, and is aspirational of where we will lead our customers and prospects. </p>

      <p>Strong and consistent brand identification improves market position, drives customer satisfaction, and increases profitability. Our website is the most powerful, flexible, and accessible element of our brand collateral, and our most effective tool for lead generation</p>

      <p>To provide authentically thoughtful experiences in our content and on our website, we must demonstrate that we are not product-centered, or even user-centered: we must be human-centered. We must know people first as people, not as prospects or customers. We must understand what drives them and is of value to them in order to bring our brand promise to life</p>

    </div>
  </section>

</div>

<div class="banded-light">
  <section class="twc-container">
    <div class="parsys">

      <h2>Segment Audiences</h2>

      <hr>

      <div class="33-33-33 section columnControl">
        <div class="parsys_column twc-col3_333333">

          <div class="parsys parsys0 twc-col3_333333-c0 parsys_column">
            <div class="smartLink parbase section">

              <figure>
                <img src="{{ site.url }}/images/TWC_logo-placeholder.png" alt="TWC_logo-placeholder">
              </figure>

              <div class="equal">
                <h3>Small Businesses</h3>
                <p>Less than 25 employees</p>
                <em>Primary Decision Makers:</em>

                <ul class="bulleted">
                  <li>Owners</li>
                  <li>Office Managers</li>
                </ul>
              </div>

              <hr>

              <div class="equal">
                <h3>Key Motivations</h3>
                <ul class="bulleted">
                  <li>Achieve business and personal goals (e.g. success, freedom)</li>
                  <li>Leverage technology to stay connected both inside and outside the office</li>
                  <li>Keep their business up and running</li>
                  <li>Meet changing customer demands and expectations.</li>
                </ul>
              </div>

            </div>
            <div class="new section"></div>
          </div>

          <div class="parsys parsys1 twc-col3_333333-c1 parsys_column">
            <div class="smartLink parbase section">

              <figure>
                <img src="{{ site.url }}/images/TWC_logo-placeholder.png" alt="TWC_logo-placeholder">
              </figure>

              <div class="equal">
                <h3>Mid-Market Businesses</h3>
                <p>25-499 employees</p>
                <em>Primary Decision Makers:</em>

                <ul class="bulleted">
                  <li>IT Managers</li>
                  <li>IT Consultants</li>
                  <li>Owners</li>
                </ul>
              </div>

              <hr>

              <div class="equal">
                <h3>Key Motivations</h3>
                <ul class="bulleted">
                  <li>Position their business for optimal success today and tomorrow</li>
                  <li>Solve challenges hurting the business and customers</li>
                  <li>Answer needs for improvement while minimizing risk</li>
                  <li>Create a solid business case addressing financial realities</li>
                </ul>
              </div>

            </div>
            <div class="new section"></div>
          </div>

          <div class="parsys parsys2 twc-col3_333333-c2 parsys_column">
            <div class="smartLink parbase section">

              <figure>
                <img src="{{ site.url }}/images/TWC_logo-placeholder.png" alt="TWC_logo-placeholder">
              </figure>

              <div class="equal">
                <h3>Enterprise Businesses</h3>
                <p>500+ employees</p>
                <em>Primary Decision Makers:</em>

                <ul class="bulleted">
                  <li>IT Managers/Directors</li>
                  <li>CIO, CTO</li>
                  <li>IT Consultants</li>
                </ul>
              </div>

              <hr>

              <div class="equal">
                <h3>Key Motivations</h3>
                <ul class="bulleted">
                  <li>Leverage technology to move their business forward</li>
                  <li>Understand and be able to balance promise, risk, return</li>
                  <li>Influence stakeholders to make the necessary technology changes</li>
                  <li>Create the business case for desired/needed solutions.</li>
                </ul>
              </div>

            </div>
            <div class="new section"></div>
          </div>

        </div>
        <div class="columnClear"></div>
      </div>

      <hr>

      <p class="text-center">Refer to the TWCBC Brand Playbook (June 2014) for our value propositions including specific segment-team value propositions.</p>

    </div>
  </section>
</div>
