---
title: Editorial Guidelines
description: ""
class: styleguide
parent: styleguide
layout: interstitial.hbs
category: Editorial Guidelines
section:
subsection:
zoom:
---

<section class="twc-container">
  <div class="parsys">

    <h1>TBD QUOTE</h1>

    <hr>

    <p class="lede">Our goal is to design for experiences that work together, work the same and work for our visitors.</p>

    <p>The Editorial Guide is a resource for content creators, agencies, and internal stakeholders as they develop website content, lead generation campaigns, and other digital communications intended for acquisition and a general audience.</p>

    <div class="33-33-33 section columnControl">
      <div class="parsys_column twc-col3_333333">

        <div class="parsys parsys0 twc-col3_333333-c0 parsys_column">
          <div class="smartLink parbase section">

            <figure>
              <img src="{{ site.url }}/images/TWC_logo-placeholder.png" alt="TWC_logo-placeholder">
            </figure>

            <h3>Voice & Tone</h3>
            <p>Style means the right word. The rest matters little. <cite>Jules Renard</cite></p>
            <p><em>content goals and principles, style, tone, digital content best practices, addressing the reader.</em></p>

            <figure>
              <img src="{{ site.url }}/images/TWC_logo-placeholder.png" alt="TWC_logo-placeholder">
            </figure>

            <h3>Images &amp; Icon Libraries</h3>
            <p>With great power comes great responsibility. <cite>Ben Parker</cite></p>
            <p><em>imagery, icons, infographics.</em></p>

          </div>
          <div class="new section"></div>
        </div>

        <div class="parsys parsys1 twc-col3_333333-c1 parsys_column">
          <div class="smartLink parbase section">

            <figure>
              <img src="{{ site.url }}/images/TWC_logo-placeholder.png" alt="TWC_logo-placeholder">
            </figure>

            <h3>Grammar &amp; Mechanics</h3>
            <p>Only in Grammar can you be more than perfect. <cite>William Safire</cite></p>
            <p><em>abbreviations, acronymns, punctuation, capitalization, glossary, legal disclaimers.</em></p>

            <figure>
              <img src="{{ site.url }}/images/TWC_logo-placeholder.png" alt="TWC_logo-placeholder">
            </figure>

            <h3>Social Media & Video</h3>
            <p>Integrated campaigns.  video guidelines, social media best practices</p>

          </div>
          <div class="new section"></div>
        </div>

        <div class="parsys parsys2 twc-col3_333333-c2 parsys_column">
          <div class="smartLink parbase section">

            <figure>
              <img src="{{ site.url }}/images/TWC_logo-placeholder.png" alt="TWC_logo-placeholder">
            </figure>

            <h3>Design &amp; Usability</h3>
            <p>Design is so simple, that’s why it’s so complicated. <cite>Paul Rand</cite></p>
            <p><em>design principles, logos and usage, colors, typefaces, best practices.</em></p>

            <figure>
              <img src="{{ site.url }}/images/TWC_logo-placeholder.png" alt="TWC_logo-placeholder">
            </figure>

            <h3>Working with the Web Team</h3>
            <p>It’s Showtime! Making it real. process flows, approvals, organization, ticketing system
            </p>

          </div>
          <div class="new section"></div>
        </div>

      </div>
      <div class="columnClear"></div>
    </div>

  </div>
</section>
