---
title: "Editorial Framework & Style Guide"
description: ""
class: styleguide
parent: styleguide
layout: interstitial.hbs
category:
section:
subsection:
zoom:
---

</div>
</section>
<!-- ./End Content Wrapper -->

<div class="banded-brand">

  <!-- Begin Content Wrapper -->
  <section class="twc-container">
    <div class="parsys">

      <h1>something inspired; a quote, a mantra, -- TBD.</h1>

      <hr>

      <div class="67-33 section columnControl">
        <div class="parsys_column twc-col2_6733">

          <div class="parsys parsys0 twc-col2_6733-c0 parsys_column">
            <div class="parbase section">

              <p class="lede">The TWCBC Digital Brand Center is a set of living guidelines that communicate our brand promise with consistency of style and unified messaging.</p>

              <p>These guidelines are designed to ensure that our website and digital visitor experiences are on message time after time, and help content creators make consistent and brand-appropriate decisions around tone, voice, messaging, image selection, and design. </p>

            </div>
            <div class="new section"></div>
          </div>

          <div class="parsys parsys1 twc-col2_6733-c1 parsys_column">
            <div class="smartLink parbase section">
              <figure>
                <img src="{{ site.url }}/images/TWC_logo-placeholder.png" alt="TWC_logo-placeholder">
              </figure>
            </div>
            <div class="new section"></div>
          </div>

        </div>
        <div class="columnClear"></div>
      </div>

    </div>
  </section>
  <!-- ./End Content Wrapper -->

</div>

<div class="banded-light">

  <!-- Begin Content Wrapper -->
  <section class="twc-container">
    <div class="parsys">

      <div class="33-67 section columnControl">
        <div class="parsys_column twc-col2_3367">

          <div class="parsys parsys0 twc-col2_3367-c0 parsys_column">
            <div class="parbase section">

              <figure>
                <img src="{{ site.url }}/images/TWC_logo-placeholder.png" alt="TWC_logo-placeholder">
              </figure>

            </div>
            <div class="new section"></div>
          </div>

          <div class="parsys parsys1 twc-col2_3367-c1 parsys_column">
            <div class="smartLink parbase section">

              <h2>Why a Digital Brand Center?</h2>
              <p>Brand and content guidelines are absolutely essential to large organizations such ours. Consistency and brand messaging can suffer if guidelines aren’t in place. Especially in the digital space, content development is a team-wide effort and must be supported by the right tools and understanding. Most importantly, a Digital Brand Center will:</p>

              <ol>
                <li>
                  <strong>Put our audiences first.</strong>
                  <p>Our digital audience has unique expectations that shape every piece of content created. Staying in touch with visitor behaviors and activities dictates the language, mediums, and messages we use. Guidelines recognize a link between what our audience needs and the best way to fulfill that need in the most effective way. </p>
                </li>
                <li>
                  <strong>Breed consistency.</strong>
                  <p>Giving our audience a consistent experience builds loyalty and trust. Guidelines can be a central reference to keep the overall voice consistent.</p>
                </li>
                <li>
                  <strong>Create better content.</strong>
                  <p>A Digital Brand Center is both a practical resource as well as a commitment to more considered content. Personality, trends, brand values, key messaging, tone, style, image selection and formatting all contribute to the quality of our content – and guidelines keep this all in check.</p>
                </li>
              </ol>

            </div>
            <div class="new section"></div>
          </div>

        </div>
        <div class="columnClear"></div>
      </div>

    </div>
  </section>
  <!-- ./End Content Wrapper -->

</div>

<div class="banded-dark">

  <!-- Begin Content Wrapper -->
  <section class="twc-container">
    <div class="parsys">

      <h2>Organization</h2>
      <p>This site is organized into three sections: Approach, Editorial Guide, and Toolkit.</p>

      <hr>

      <div class="33-33-33 section columnControl">
        <div class="parsys_column twc-col3_333333">

          <div class="parsys parsys0 twc-col3_333333-c0 parsys_column">
            <div class="smartLink parbase section">

              <figure>
                <img src="{{ site.url }}/images/TWC_logo-placeholder.png" alt="TWC_logo-placeholder">
              </figure>

              <h3>Approach</h3>
              <p>Who are you addressing? Understanding your audience, our brand platform, key product positioning statements, and message hierarchy will enable your content to be on-point and on-message.</p>

              <div class="twc-left twc-icon-after icon-angle-right cta omega section">
                <a analyticsname="" href="" id="">
                  <span>Approach</span>
                </a>
                <div class="clear"></div>
              </div>

            </div>
            <div class="new section"></div>
          </div>

          <div class="parsys parsys1 twc-col3_333333-c1 parsys_column">
            <div class="smartLink parbase section">

              <figure>
                <img src="{{ site.url }}/images/TWC_logo-placeholder.png" alt="TWC_logo-placeholder">
              </figure>

              <h3>Editorial Guide</h3>
              <p>This portion of the style guide covers the “why” of creating marketing: it is designed to help content creators craft the personality of marketing and communications from TWCBC. It includes things like brand colors, key messages, typography, image selection guidelines, and voice and tone commentary.</p>

              <div class="twc-left twc-icon-after icon-angle-right cta omega section">
                <a analyticsname="" href="" id="">
                  <span>Editorial Guide</span>
                </a>
                <div class="clear"></div>
              </div>

            </div>
            <div class="new section"></div>
          </div>

          <div class="parsys parsys2 twc-col3_333333-c2 parsys_column">
            <div class="smartLink parbase section">

              <figure>
                <img src="{{ site.url }}/images/TWC_logo-placeholder.png" alt="TWC_logo-placeholder">
              </figure>

              <h3>Toolkit</h3>
              <p>The toolkit section of the style guide covers the “how” of creating marketing materials, especially for the Web. In this section you will find specifics on developing web page components and ensuring good alignment with the style as defined by this style guide.</p>

              <div class="twc-left twc-icon-after icon-angle-right cta omega section">
                <a analyticsname="" href="" id="">
                  <span>Toolkit</span>
                </a>
                <div class="clear"></div>
              </div>

            </div>
            <div class="new section"></div>
          </div>

        </div>
        <div class="columnClear"></div>
      </div>

    </div>
  </section>
  <!-- ./End Content Wrapper -->

</div>

<div class="banded-brand">

  <!-- Begin Content Wrapper -->
  <section class="twc-container">
    <div class="parsys">

      <div class="67-33 section columnControl">
        <div class="parsys_column twc-col2_6733">

          <div class="parsys parsys0 twc-col2_6733-c0 parsys_column">
            <div class="parbase section">

              <h2>Questions? Concerns?</h2>
              <p>The Digital Brand Center is an evolving environment. This resource will grow as our understanding, clients and business grows. And as it does, the Editorial Guide will serve as the arbiter in any style disputes.</p>

              <p>The Digital Web Marketing Team welcomes your feedback and suggestions as we continue work on this guide. Please send comments, suggestions, congratulations, and constructive feedback to a <a href="mailto:DigitalBrandCenter@twcable.com">DigitalBrandCenter@twcable.com</a></p>

            </div>
            <div class="new section"></div>
          </div>

          <div class="parsys parsys1 twc-col2_6733-c1 parsys_column">
            <div class="smartLink parbase section">
              <figure>
                <img src="{{ site.url }}/images/TWC_logo-placeholder.png" alt="TWC_logo-placeholder">
              </figure>
            </div>
            <div class="new section"></div>
          </div>

        </div>
        <div class="columnClear"></div>
      </div>

    </div>
  </section>
</div>
