---
title: Working with Digital Web Marketing
description: ""
class: styleguide
parent: styleguide
layout: interstitial.hbs
category: Working with Digital Web Marketing
section:
subsection:
zoom:
---

</div>
</section>
<!-- ./End Content Wrapper -->

<div class="banded-brand">

  <section class="twc-container">
    <div class="parsys">

      <!-- Begin Content Wrapper -->
      <section class="twc-container">
        <div class="parsys">

          <h1>TBD QUOTE</h1>

          <hr>

          <div class="67-33 section columnControl">
            <div class="parsys_column twc-col2_6733">

              <div class="parsys parsys0 twc-col2_6733-c0 parsys_column">
                <div class="parbase section">

                  <p class="lede"></p>

                </div>
                <div class="new section"></div>
              </div>

              <div class="parsys parsys1 twc-col2_6733-c1 parsys_column">
                <div class="smartLink parbase section">
                  <figure>
                    <img src="{{ site.url }}/images/TWC_logo-placeholder.png" alt="TWC_logo-placeholder">
                  </figure>
                </div>
                <div class="new section"></div>
              </div>

            </div>
            <div class="columnClear"></div>
          </div>

        </div>
      </section>

    </div>
  </section>

</div>

<div class="banded-dark">

  <section class="twc-container">
    <div class="parsys">

      <h2>Digital Marketing Plays</h2>
      <p>Award-winning is to send and receive technology market, howto scalable resources terms of use. Cloud PerkZone how do technology with, services frequently asked questions wifipasspoint industry bundle. For from the private options market is. Support account  billing tv network small frequently asked questions terms of use resources scalable. Access technology enable what awardwinning how to with, tv what bundle small. Datasolutions industry different security need send and receive voice awardwinning, qualify private medium bundle network network services. Resources customers access internet access technology IP, awardwinning wifipasspoint email bundle to. Account  billing tv bundle services email budget with send and receive how. Phone from services phone what I for.</p>

      <div class="25-25-25-25 section columnControl">
        <div class="parsys_column twc-col4_25252525">

          <div class="parsys parsys0 twc-col4_25252525-c0 parsys_column">
            <div class="smartLink parbase section">

              <figure>
                <img src="{{ site.url }}/images/TWC_logo-placeholder.png" alt="TWC_logo-placeholder">
              </figure>

              <div class="equal">
                <h3>Approvals</h3>
                <p>All ideas for new marketing on the Business Class site start with the same step: an approval.</p>
              </div>

              <div class="twc-left twc-icon-after icon-angle-right cta omega section">
                <a analyticsname="" href="" id="">
                  <span>How Approvals Work</span>
                </a>
                <div class="clear"></div>
              </div>

            </div>
            <div class="new section"></div>
          </div>

          <div class="parsys parsys1 twc-col4_25252525-c1 parsys_column">
            <div class="smartLink parbase section">

              <figure>
                <img src="{{ site.url }}/images/TWC_logo-placeholder.png" alt="TWC_logo-placeholder">
              </figure>

              <div class="equal">
                <h3>Process Flow</h3>
                <p>In the course of creating any new marketing collateral, there are timelines and dependencies to consider.</p>
              </div>

              <div class="twc-left twc-icon-after icon-angle-right cta omega section">
                <a analyticsname="" href="" id="">
                  <span>Review Our Process</span>
                </a>
                <div class="clear"></div>
              </div>

            </div>
            <div class="new section"></div>
          </div>

          <div class="parsys parsys2 twc-col4_25252525-c2 parsys_column">
            <div class="smartLink parbase section">

              <figure>
                <img src="{{ site.url }}/images/TWC_logo-placeholder.png" alt="TWC_logo-placeholder">
              </figure>

              <div class="equal">
                <h3>Tools We Use</h3>
                <p>Become familiar with the tools we use to process, approve, and push changes live.</p>
              </div>

              <div class="twc-left twc-icon-after icon-angle-right cta omega section">
                <a analyticsname="" href="" id="">
                  <span>View Tools</span>
                </a>
                <div class="clear"></div>
              </div>

            </div>
            <div class="new section"></div>
          </div>

          <div class="parsys parsys3 twc-col4_25252525-c3 parsys_column">
            <div class="smartLink parbase section">

              <figure>
                <img src="{{ site.url }}/images/TWC_logo-placeholder.png" alt="TWC_logo-placeholder">
              </figure>

              <div class="equal">
                <h3>Organization</h3>
                <p>Take a look at how our team fits into the landscape of Time Warner Cable Business Class</p>
              </div>

              <div class="twc-left twc-icon-after icon-angle-right cta omega section">
                <a analyticsname="" href="" id="">
                  <span>View Org Chart</span>
                </a>
                <div class="clear"></div>
              </div>

            </div>
            <div class="new section"></div>
          </div>

        </div>
        <div class="columnClear"></div>
      </div>

    </div>
  </section>

</div>
