<div class="banded-brand">

  <!-- Begin Content Wrapper -->
  <section class="twc-container">
    <div class="parsys">

      <h1>TBD QUOTATION</h1>

      <hr>

      <div class="67-33 section columnControl">
        <div class="parsys_column twc-col2_6733">

          <div class="parsys parsys0 twc-col2_6733-c0 parsys_column">
            <div class="parbase section">

              <p class="lede">Building an effective online presence for Time Warner Cable Business Class takes many skills. The Digital Web Marketing Team provides web standards and editorial guidelines to help provide guidance for the architecture, design, and content of digital assets that are part of <a href="https://business.timewarnercable.com/">business.twc.com</a>.</p>

            </div>
            <div class="new section"></div>
          </div>

          <div class="parsys parsys1 twc-col2_6733-c1 parsys_column">
            <div class="smartLink parbase section">
              <figure>
                <img src="{{ site.url }}/images/TWC_logo-placeholder.png" alt="TWC_logo-placeholder">
              </figure>
            </div>
            <div class="new section"></div>
          </div>

        </div>
        <div class="columnClear"></div>
      </div>

    </div>
  </section>
  <!-- ./End Content Wrapper -->

</div>

<div class="banded-dark">

  <!-- Begin Content Wrapper -->
  <section class="twc-container">
    <div class="parsys">

      <h2>Organization</h2>

      <hr>

      <p>The Visual Assets area is organized into six sections: </p>

      <div class="33-33-33 section columnControl">
        <div class="parsys_column twc-col3_333333">

          <div class="parsys parsys0 twc-col3_333333-c0 parsys_column">
            <div class="smartLink parbase section">

              <figure>
                <img src="{{ site.url }}/images/TWC_logo-placeholder.png" alt="TWC_logo-placeholder">
              </figure>

              <h3>Design &amp; Usability</h3>
              <p>Style means the right word. The rest matters little. <cite>Jules Renard</cite></p>
              <p><em>content goals and principles, style, tone, digital content best practices, addressing the reader.</em></p>

            </div>
            <div class="new section"></div>
          </div>

          <div class="parsys parsys1 twc-col3_333333-c1 parsys_column">
            <div class="smartLink parbase section">

              <figure>
                <img src="{{ site.url }}/images/TWC_logo-placeholder.png" alt="TWC_logo-placeholder">
              </figure>

              <h3>Images</h3>
              <p>Style means the right word. The rest matters little. <cite>Jules Renard</cite></p>
              <p><em>content goals and principles, style, tone, digital content best practices, addressing the reader.</em></p>

            </div>
            <div class="new section"></div>
          </div>

          <div class="parsys parsys1 twc-col3_333333-c2 parsys_column">
            <div class="smartLink parbase section">

              <figure>
                <img src="{{ site.url }}/images/TWC_logo-placeholder.png" alt="TWC_logo-placeholder">
              </figure>

              <h3>Logos</h3>
              <p>Style means the right word. The rest matters little. <cite>Jules Renard</cite></p>
              <p><em>content goals and principles, style, tone, digital content best practices, addressing the reader.</em></p>

            </div>
            <div class="new section"></div>
          </div>

        </div>
      </div>

      <div class="33-33-33 section columnControl">
        <div class="parsys_column twc-col3_333333">

          <div class="parsys parsys2 twc-col3_333333-c3 parsys_column">
            <div class="smartLink parbase section">

              <figure>
                <img src="{{ site.url }}/images/TWC_logo-placeholder.png" alt="TWC_logo-placeholder">
              </figure>

              <h3>Icons</h3>
              <p>Style means the right word. The rest matters little. <cite>Jules Renard</cite></p>
              <p><em>content goals and principles, style, tone, digital content best practices, addressing the reader.</em></p>

            </div>
            <div class="new section"></div>
          </div>

          <div class="parsys parsys3 twc-col3_333333-c4 parsys_column">
            <div class="smartLink parbase section">

              <figure>
                <img src="{{ site.url }}/images/TWC_logo-placeholder.png" alt="TWC_logo-placeholder">
              </figure>

              <h3>Social Media</h3>
              <p>Style means the right word. The rest matters little. <cite>Jules Renard</cite></p>
              <p><em>content goals and principles, style, tone, digital content best practices, addressing the reader.</em></p>

            </div>
            <div class="new section"></div>
          </div>

          <div class="parsys parsys3 twc-col3_333333-c5 parsys_column">
            <div class="smartLink parbase section">

              <figure>
                <img src="{{ site.url }}/images/TWC_logo-placeholder.png" alt="TWC_logo-placeholder">
              </figure>

              <h3>Video</h3>
              <p>Style means the right word. The rest matters little. <cite>Jules Renard</cite></p>
              <p><em>content goals and principles, style, tone, digital content best practices, addressing the reader.</em></p>

            </div>
            <div class="new section"></div>
          </div>

        </div>
        <div class="columnClear"></div>
      </div>

    </div>
  </section>
  <!-- ./End Content Wrapper -->

</div>

<div class="banded-light">

  <!-- Begin Content Wrapper -->
  <section class="twc-container">
    <div class="parsys">

      <div class="parbase section">

        <h2>Resources</h2>

        <hr>

      </div>
      <div class="new section"></div>
    </div>
  </section>

</div>
