<div class="twc-breadcrumbs">
  <div class="twc-container">
    <ul class="horizontal slashes">
      <li>
        <a analyticsname="" href="/">
          Editorial Framework &amp; Style Guide
        </a>
      </li>
      {{#if page.category }}
      <li>
        <a analyticsname="" href="/{{ page.category }}">
          {{ page.category }}
        </a>
      </li>
      {{/if}}
      {{#if page.section }}
      <li>
        <a analyticsname="" href="/{{ page.category }}/{{ page.section }}">
          {{ page.section }}
        </a>
      </li>
      {{/if}}
      {{#if page.subsection }}
      <li>
        <a analyticsname="" href="/{{ page.category }}/{{ page.section }}/{{ page.subsection }}">
          {{ page.subsection }}
        </a>
      </li>
      {{/if}}
      {{#if page.zoom }}
      <li>
        <a analyticsname="" href="/{{ page.category }}/{{ page.section }}/{{ page.subsection }}/{{ page.zoom }}">
            {{ page.zoom }}
        </a>
      </li>
      {{/if}}
    </ul>
  </div>
</div>
