{{#with (bread-crumb-maker nav-new site.baseurl this) }}
<div class="twc-breadcrumbs">
  <div class="twc-container">
    <ul class="horizontal slashes">
      {{#each this }}
      <li>
        {{#if last }}
          {{#if title }}
            {{ title }}
          {{/if }}
        {{ else }}
          <a analyticsname="" href="{{ url-maker url 'normal' }}">
            {{#if title }}
              {{ title }}
            {{ else }}
            Editorial Framework &amp; Style Guide
            {{/if }}
          </a>
        {{/if }}
      </li>
      {{/each }}
    </ul>
  </div>
</div>
{{/with }}
