<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie ie9 no-js" lang="en"><![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="en" dir="ltr"><!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{#if page.title}}{{ page.title }} | {{/if}} {{site.title}}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon">

  {{#if page.description}}
  <meta name="description" content="{{page.description}}" />
  {{else}}
  <meta name="description" content="{{site.description}}" />
  {{/if}}
  <meta name="author" content="{{site.author}}">
  <meta name="rating" content="general">

  <meta name="format-detection" content="telephone=no">

  <meta name="robots" content="index, follow">

  <link rel="stylesheet" href="/css/styles.min.css" >

  <link rel="stylesheet" href="{{ site.url }}/css/forBC.min.css">
  <link rel="stylesheet" href="{{ site.url }}/css/allComponentsCss.min.css">
  <link rel="stylesheet" href="{{ site.url }}/css/pages.min.css">
  <link rel="stylesheet" href="{{ site.url }}/css/business.min.css">

  <link rel="stylesheet" href="{{ site.url }}/css/test.css">

  <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->

    </head>

    <body class="{{page.class}}">
    <!--[if lt IE 9]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
