<a href="#" class="open-panel"><span></span></a>

<nav role="navigation">
	<div class="twc-container">
		<ul class="navigation menu">
			{{#each nav.category}}
      <li>
        <a href="{{ site.url }}/{{url}}">
          <span>{{title}}</span>
        </a>
        <ul>
        {{#each section}}
          <li>
            <a href="{{ site.url }}/{{url}}">
              <span>{{ title }}</span>
            </a>
          </li>
          {{/each}}
        </ul>
      </li>
      {{/each}}
    </ul>
  </div>
</nav>
