<a href="#" class="open-panel"><span></span></a>

<nav role="navigation">
	<div class="twc-container">
		<ul class="navigation menu">
			{{#each nav }}
      <li>
        <a href="/{{ url }}.html">
          <span>{{title}}</span>
        </a>
        <ul>
        {{#each (inherit_url section url) }}
          <li>
            <a href="/{{ parent_url }}/{{ url }}.html">
              <span>{{ title }}</span>
            </a>
          </li>
          {{/each}}
        </ul>
      </li>
      {{/each}}
    </ul>
  </div>
</nav>
