<h2>{{#if page.section }}{{ section }}{{else}}{{ category }}{{/if}}</h2>

{{#with (get-nav-slice nav-new this 0 site.baseurl) }}
  <div class="accordion">
    <div class="expandable">
      <ul>
        {{#each section }}
          {{#if section }}
            <li class="js-expandable{{#if current}} js-open js-active{{/if }}">
              <h6>{{ title }}</h6>
              <ul>
              {{#each section }}
                <li{{#if current}} class="js-active"{{/if }}><a href="{{ url-maker url 'jump' }}-anchor">{{ title }}</a></li>
              {{/each }}
              </ul>
            </li>
          {{ else }}
            <li><a href="{{ url-maker url 'jump' }}-anchor"><h6>{{ title }}</h6></a></li>
          {{/if }}
        {{/each }}
      </ul>
    </div>
  </div>
{{/with }}
