<h2>{{#if page.section }} {{ section }} {{else}} {{ category }} {{/if}}</h2>


{{#if (inherit_url (pluck_list_by_title this.nav.category title) category.url) }}
<div class="accordion">
  <div class="expandable">
    <ul>
      {{#each (inherit_url (pluck_list_by_title this.nav.category title) (concatenate_to parent_url '/' url)) }}
      <li class="js-expandable"><h6>{{ title }}</h6>
        {{#if zoom }}
        <ul>
          {{#each (inherit_url zoom (concatenate_to parent_url '/' url)) }}
            <li class="js-notexpandable"><a href="/{{ parent_url }}#{{ url }}">{{ title }}</a></li>
          {{/each }}
        </ul>
        {{/if }}
      </li>
      {{/each }}
    </ul>
  </div>
</div>
{{/if }}
