<div class="banded-brand">

  <section class="twc-container">
    <div class="parsys">

      <h1>TBD QUOTE</h1>

      <hr>

      <p class="lede">Small enable enable, FAQs FAQs Time Warner Cable frequently asked questions industry can network services is terms of use howto. What medium enterprise technology, IP bundle technology the have industry. Resources to datasolutions do wifipasspoint resources host what. </p>

      <p>For is for, business phone budget wifipasspoint private need I the commercial services Time Warner Cable. Is need actionable to, FAQs Time Warner Cable medium I industry can terms of use.</p>

    </div>
  </section>

</div>

<div class="banded-light">

  <section class="twc-container">
    <div class="parsys">

      <h2>Workflow &amp; Process</h2>

      <hr>

      <div class="50-50 section columnControl">
        <div class="parsys_column twc-col2_5050">

          <div class="parsys parsys0 twc-col2_5050-c0 parsys_column">
            <div class="smartLink parbase section">

              <figure>
                <img src="{{ site.url }}/images/TWC_logo-placeholder.png" alt="TWC_logo-placeholder">
              </figure>

              <h3>Digital Team Work Flow</h3>
              <p>Getting started, process, approvals, delivery schedules and timelines</p>

            </div>
            <div class="new section"></div>
          </div>

          <div class="parsys parsys1 twc-col2_5050-c1 parsys_column">
            <div class="smartLink parbase section">

              <figure>
                <img src="{{ site.url }}/images/TWC_logo-placeholder.png" alt="TWC_logo-placeholder">
              </figure>

              <h3>Digital Team Tools</h3>
              <p>Access our ticketing system, submit feature and content requests, work with us in Basecamp</p>

            </div>
            <div class="new section"></div>
          </div>

        </div>
        <div class="columnClear"></div>
      </div>

      <div class="50-50 section columnControl">
        <div class="parsys_column twc-col2_5050">

          <div class="parsys parsys0 twc-col2_5050-c0 parsys_column">
            <div class="smartLink parbase section">

              <figure>
                <img src="{{ site.url }}/images/TWC_logo-placeholder.png" alt="TWC_logo-placeholder">
              </figure>

              <h3>Website Structure</h3>
              <p>Get to know the Business Class website – primary content areas, what to find where</p>

            </div>
            <div class="new section"></div>
          </div>

          <div class="parsys parsys1 twc-col2_5050-c1 parsys_column">
            <div class="smartLink parbase section">

              <figure>
                <img src="{{ site.url }}/images/TWC_logo-placeholder.png" alt="TWC_logo-placeholder">
              </figure>

              <h3>Creative Sparks & Resources</h3>
              <p>Inspiration and valuable resources</p>

            </div>
            <div class="new section"></div>
          </div>

        </div>
        <div class="columnClear"></div>
      </div>

    </div>
  </section>

</div>

<div class="banded-dark">

  <section class="twc-container">
    <div class="parsys">

      <h2>Workflow &amp; Process</h2>

      <hr>

      <p>Market forward Time Warner Cable resources what awardwinning support. Tv from send and receive cloud network services, frequently asked questions PerkZone services IP hotspot email how. Can need customers medium, Time Warner Cable email enterprise technology market industry frequently asked questions I from.</p>

      <dl>
        <dt><a href="mailto:">Annette Gildea</a></dt>
        <dd>[title] description of area of responsibility</dd>

        <hr>
        <dt><a href="mailto:">Tanya Zimmerli</a></dt>
        <dd>[title] description of area of responsibility</dd>

        <hr>
        <dt><a href="mailto:">Patrick Batu</a></dt>
        <dd>[title] description of area of responsibility</dd>

        <hr>
        <dt><a href="mailto:">Rich Vary</a></dt>
        <dd>[title] description of area of responsibility</dd>

        <hr>
        <dt><a href="mailto:">Rebecca Shepherd</a></dt>
        <dd>[title] description of area of responsibility</dd>

        <hr>
        <dt><a href="mailto:">Amanda Meetze Baines</a></dt>
        <dd>[title] description of area of responsibility</dd>

        <hr>
        <dt><a href="mailto:">Michael Buie</a></dt>
        <dd>[title] description of area of responsibility</dd>

        <hr>
        <dt><a href="mailto:">Michael Tolosa</a></dt>
        <dd>[title] description of area of responsibility</dd>

        <hr>
        <dt><a href="mailto:">Michael Hunter</a></dt>
        <dd>[title] description of area of responsibility</dd>

        <hr>
        <dt><a href="mailto:">Lori Trimailo</a></dt>
        <dd>[title] description of area of responsibility</dd>

        <hr>
        <dt><a href="mailto:">Gaurav Goel</a></dt>
        <dd>[title] description of area of responsibility</dd>

      </dl>

    </div>
  </section>

</div>

<div class="banded-light">

  <!-- Begin Content Wrapper -->
  <section class="twc-container">
    <div class="parsys">

      <div class="67-33 section columnControl">
        <div class="parsys_column twc-col2_6733">

          <h2>Feedback Welcome</h2>

          <hr>

          <div class="parsys parsys0 twc-col2_6733-c0 parsys_column">
            <div class="parbase section">

              <p>We recognize our brand is an evolving, living entity. Just as we change as a company, and our customers’ needs, demands and expectations change, so does our brand.  The Digital Style Guide is a tool created by the Digital Web Marketing Team in collaboration with TWCBC Brand Marketing. We welcome your feedback and input as we continue work on this Guide. Please send comments, suggestions, and Starbucks gift codes to <a href="mailto:TWCBCDigitalStyleGuide@twcable.com">TWCBCDigitalStyleGuide@twcable.com</a></p>

            </div>
            <div class="new section"></div>
          </div>

          <div class="parsys parsys1 twc-col2_6733-c1 parsys_column">
            <div class="smartLink parbase section">
              <figure>
                <img src="{{ site.url }}/images/TWC_logo-placeholder.png" alt="TWC_logo-placeholder">
              </figure>
            </div>
            <div class="new section"></div>
          </div>

        </div>
        <div class="columnClear"></div>
      </div>

    </div>
  </section>
</div>
