<span id="tile-list-anchor" class="h2 jumpTo-anchor">Tile List Component</span>

{{#if page.subsection }}

{{else}}
<div class="twc-right cta omega section">
  <a analyticsname="" href="{{ slugify page.section }}/tile-list.html" id="">
    <span><i class="fa fa-search-plus fa-lg"></i></span>
  </a>
  <div class="clear"></div>
</div>
{{/if}}

<div class="twc-box-column">

  <div class="tileList labelList section w60">
    <ul>
      <li>
        <div class="smartLinkWithImage">
          <a href="" analyticsname=""><img src="{{ site.url }}/images/accountBilling.png" alt="Account &amp; Billing">Account &amp; Billing</a>
        </div>
      </li>

      <li class="">
        <div class="smartLinkWithImage">
          <a href="" analyticsname=""><img src="{{ site.url }}/images/tv.png" alt="TV">TV</a>
        </div>
      </li>

      <li>
        <div class="smartLinkWithImage">
          <a href="" analyticsname=""><img src="{{ site.url }}/images/internet.png" alt="Internet">Internet</a>
        </div>
      </li>
    </ul>
  </div>

</div>
