<span id="image-focus-anchor" class="h3 jumpTo-anchor">Image Art Direction</span>

<div class="twc-box-column">

  <h5>Responsive Image Art Direction</h5>
  <h6>image-focus-1</h6>
  <div class="image-focus-1" style="background-image: url({{ site.url }}/images/business_people_03.jpg); height: 200px;">
  </div>
  <hr>
  <h6>image-focus-2</h6>
  <div class="image-focus-2" style="background-image: url({{ site.url }}/images/business_people_03.jpg); height: 200px;">
  </div>
  <hr>
  <h6>image-focus-3</h6>
  <div class="image-focus-3" style="background-image: url({{ site.url }}/images/business_people_03.jpg); height: 200px;">
  </div>
  <hr>
  <h6>image-focus-4</h6>
  <div class="image-focus-4" style="background-image: url({{ site.url }}/images/business_people_03.jpg); height: 200px;">
  </div>
  <hr>
  <h6>image-focus-5</h6>
  <div class="image-focus-5" style="background-image: url({{ site.url }}/images/business_people_03.jpg); height: 200px;">
  </div>

</div>
