<div class="banded-brand">

  <section class="twc-container">
    <div class="parsys">

      <h1>Brand Playbook</h1>

      <hr>

      <h2>Brand Playbook Contents</h2>

      <div class="33-33-33 section columnControl">
        <div class="parsys_column twc-col3_333333">

          <div class="parsys parsys0 twc-col3_333333-c0 parsys_column">
            <div class="smartLink parbase section">

              <figure>
                <img src="{{ site.url }}/images/TWC_logo-placeholder.png" alt="TWC_logo-placeholder">
              </figure>

              <div class="equal">
                <h3>Value Proposition</h3>
                <p>Time Warner Cable medium I industry can terms of use. Award winning have how cloud the resources internet</p>
              </div>

              <hr>

              <div class="equal">
                <h3>Communication Standards</h3>
                <p>FAQs Time Warner Cable medium I industry can terms of use. Award winning have how cloud the resources internet</p>
              </div>

            </div>
            <div class="new section"></div>
          </div>

          <div class="parsys parsys1 twc-col3_333333-c1 parsys_column">
            <div class="smartLink parbase section">

              <figure>
                <img src="{{ site.url }}/images/TWC_logo-placeholder.png" alt="TWC_logo-placeholder">
              </figure>

              <div class="equal">
                <h3>Graphic Standards for Print</h3>
                <p>Bundle voice manager small, network services need what Time Warner Cable additional</p>
              </div>

              <hr>

              <div class="equal">
                <h3>Legal Guidelines</h3>
                <p>Warner Cable medium I industry can terms of use. Award winning have how cloud the resources internet Time</p>
              </div>

            </div>
            <div class="new section"></div>
          </div>

          <div class="parsys parsys2 twc-col3_333333-c2 parsys_column">
            <div class="smartLink parbase section">

              <figure>
                <img src="{{ site.url }}/images/TWC_logo-placeholder.png" alt="TWC_logo-placeholder">
              </figure>

              <div class="equal">
                <h3>NaviSite</h3>
                <p>medium I industry can terms of use. Award winning have how cloud the resources internet FAQs Time Warner Cable </p>
              </div>

            </div>
            <div class="new section"></div>
          </div>

        </div>
        <div class="columnClear"></div>
      </div>

    </div>
  </section>

</div>

<div class="banded-dark">

  <section class="twc-container">
    <div class="parsys">

      <h2>Brand Story</h2>

      <hr>

      <p>At Time Warner Cable Business Class, we work every day to create valuable connections that allow customers to link people, devices, data and more to move their businesses forward. As we charge ahead, unveiling new solutions and entering new markets, it’s vital that our brand captures who we are and who we aspire to be. The Brand Playbook outlines the TWCBC identity, how we think and act, and how we look. It is a guide for implementing the brand identity both inside and outside the company.
      </p>

      <h5>Importance of Brand</h5>
      <p>A strong brand is one of the most valuable assets and greatest competitive advantages a company can have. It can improve market position, drive customer and employee satisfaction and retention, and increase profitability. It gives us permission to connect with customers and prospects, as well as serve as a guidepost and source of inspiration for employees.</p>

      <hr>

      <h5>What is Brand?</h5>
      <p>In its most basic definition, a brand is the collection of experiences in the heart and mind of the customer. From a call with a sales representative or a technician’s installation to a direct mail piece or a television commercial – or content on our website – each encounter a customer or prospect has with our company is a brand experience.</p>

      <hr>

      <h5>Our ever-evolving Brand</h5>
      <p>Our brand is an evolving living entity. It is not stagnant. Just as we change as a company, and our customers’ needs, demands and expectations change, so does our brand. It is a reflection of who we are today and at the same time aspirational of where we will lead our customers. It is our goal to ensure that customer perceptions align with our own brand aspirations. To reach this goal requires active and prudent brand management at every employee and customer engagement. </p>

    </div>
  </section>

</div>

<div class="banded-light">

  <section class="twc-container">
    <div class="parsys">

      <h2>Brand Promise</h2>

      <hr>

      <h5>“Time Warner Cable Business Class enables companies to launch their business’s possibilities.”</h5>
      <p>This is our Brand Promise. We achieve this through our highly skilled people and reliable technology that is designed to help our customers operate more effectively, efficiently and ultimately be more successful in their business.</p>

      <p>Yes, we are a technology company, but there is a human being behind everything we do. Behind every truck roll, every advertisement, every phone call and website interaction, there is a human. We aren’t businesses talking to businesses; we are humans seeking to connect with humans.</p>

    </div>
  </section>

</div>

<div class="banded-dark">

  <section class="twc-container">
    <div class="parsys">

      <h2>Brand Experience</h2>

      <hr>

      <p>Much more than a company's logo or color palette, Brand is the collection of experiences in the heart and mind of the customer. Each encounter a visitor has with our company is a brand experience. Our brand reflects who we are today, and is aspirational of where we will lead our customers and prospects.</p>

      <p>Strong and consistent brand identification improves market position, drives customer satisfaction, and increases profitability. Our website is the most powerful, flexible, and accessible element of our brand collateral, and our most effective tool for lead generation.</p>

      <p>To provide authentically thoughtful experiences in our content and on our website, we must demonstrate that we are not product-centered, or even user-centered: we must be human-centered. We must know people first as people, not as prospects or customers. We must understand what drives them and is of value to them in order to bring our brand promise to life.</p>

    </div>
  </section>

</div>

<div class="banded-light">
  <section class="twc-container">
    <div class="parsys">

      <h2>Segment Audiences</h2>

      <hr>

      <div class="33-33-33 section columnControl">
        <div class="parsys_column twc-col3_333333">

          <div class="parsys parsys0 twc-col3_333333-c0 parsys_column">
            <div class="smartLink parbase section">

              <figure>
                <img src="{{ site.url }}/images/TWC_logo-placeholder.png" alt="TWC_logo-placeholder">
              </figure>

              <div class="equal">
                <h3>Small Businesses</h3>
                <p>Less than 25 employees</p>
                <em>Primary Decision Makers:</em>

                <ul class="bulleted">
                  <li>Owners</li>
                  <li>Office Managers</li>
                </ul>
              </div>

              <hr>

              <div class="equal">
                <h3>Key Motivations</h3>
                <ul class="bulleted">
                  <li>Achieve business and personal goals (e.g. success, freedom)</li>
                  <li>Leverage technology to stay connected both inside and outside the office</li>
                  <li>Keep their business up and running</li>
                  <li>Meet changing customer demands and expectations.</li>
                </ul>
              </div>

            </div>
            <div class="new section"></div>
          </div>

          <div class="parsys parsys1 twc-col3_333333-c1 parsys_column">
            <div class="smartLink parbase section">

              <figure>
                <img src="{{ site.url }}/images/TWC_logo-placeholder.png" alt="TWC_logo-placeholder">
              </figure>

              <div class="equal">
                <h3>Mid-Market Businesses</h3>
                <p>25-499 employees</p>
                <em>Primary Decision Makers:</em>

                <ul class="bulleted">
                  <li>IT Managers</li>
                  <li>IT Consultants</li>
                  <li>Owners</li>
                </ul>
              </div>

              <hr>

              <div class="equal">
                <h3>Key Motivations</h3>
                <ul class="bulleted">
                  <li>Position their business for optimal success today and tomorrow</li>
                  <li>Solve challenges hurting the business and customers</li>
                  <li>Answer needs for improvement while minimizing risk</li>
                  <li>Create a solid business case addressing financial realities</li>
                </ul>
              </div>

            </div>
            <div class="new section"></div>
          </div>

          <div class="parsys parsys2 twc-col3_333333-c2 parsys_column">
            <div class="smartLink parbase section">

              <figure>
                <img src="{{ site.url }}/images/TWC_logo-placeholder.png" alt="TWC_logo-placeholder">
              </figure>

              <div class="equal">
                <h3>Enterprise Businesses</h3>
                <p>500+ employees</p>
                <em>Primary Decision Makers:</em>

                <ul class="bulleted">
                  <li>IT Managers/Directors</li>
                  <li>CIO, CTO</li>
                  <li>IT Consultants</li>
                </ul>
              </div>

              <hr>

              <div class="equal">
                <h3>Key Motivations</h3>
                <ul class="bulleted">
                  <li>Leverage technology to move their business forward</li>
                  <li>Understand and be able to balance promise, risk, return</li>
                  <li>Influence stakeholders to make the necessary technology changes</li>
                  <li>Create the business case for desired/needed solutions.</li>
                </ul>
              </div>

            </div>
            <div class="new section"></div>
          </div>

        </div>
        <div class="columnClear"></div>
      </div>

      <hr>

      <p class="text-center">Refer to the TWCBC Brand Playbook (June 2014) for our value propositions including specific segment-team value propositions.</p>

    </div>
  </section>
</div>

